.profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 75px 50px 0;


    .user-info {
        width: 50%;

        .profile-picture {
            border-radius: 50%;
        }

        .data {
            width: 450px;
            margin: 0 auto;
            padding: 25px;
            border-radius: 5px;
            background-color: #fff;
            overflow: auto;

            .user-data {
                margin-top: 15px;
                border-collapse: collapse;

                tr>td {
                    border: 1px solid #000;
                    width: 200px;
                    padding: 5px 10px;
                    text-align: left;
                    font-size: 1.5rem;
                }

                tr:nth-child(even) {
                    background-color: #ddd;
                }
            }
        }
    }

    .user-posts {
        width: 50%;
        overflow: auto;
        max-height: 75vh;

        .container {
            width: 100%;
            display: flex;
            justify-content: center;

            .post {
                width: 75%;

                .post-author {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .profile {
        .user-posts {
            .container {
                .post {
                    width: 95%;
                }
            }
        }
    }
}

@media (max-width: 1150px) {
    .profile {
        display: block;
        height: inherit;
        width: inherit;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;

        .user-info {
            width: 100%;
            margin: 25px 0 50px;
        }

        .user-posts {
            width: 100%;
            max-height: none;
            overflow: hidden;

            .container {

                .post {}
            }
        }
    }
}

@media (max-width: 500px) {
    .profile {
        .user-info {
            .data {
                width: 95%;

                .user-data {
                    tr>td {
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }
}