.profile {
    display: flex;
    justify-content: space-around;
    // align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;


    .user-info {
        width: 50%;

        .profile-picture {
            border-radius: 50%;
        }

        .data {
            position: fixed;
            top: 50%;
            left: 25%;
            transform: translate(-50%, -50%);
            padding: 25px;
            border-radius: 5px;
            background-color: #fff;

            .user-data {
                margin-top: 15px;
                border-collapse: collapse;

                tr>td {
                    border: 1px solid #000;
                    width: 200px;
                    padding: 5px 10px;
                    text-align: left;
                    font-size: 1.5rem;
                }

                tr:nth-child(even) {
                    background-color: #dddddd;
                }
            }
        }
    }

    .user-posts {
        .title {
            margin-top: 75px;
        }

        width: 50%;
        margin: 45px 0;

        .post {
            .post-author {
                display: none;
            }
        }
    }
}